<a href="https://colab.research.google.com/github/student-prpotecollege/sampledemo/blob/main/Food_Delivery_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import sqlite3

In [38]:
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [39]:
users = pd.read_json("users.json")
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [40]:
conn = sqlite3.connect(":memory:")

with open("restaurants.sql", "r", encoding="utf-8") as f:
    conn.executescript(f.read())

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [41]:
final_df = orders.merge(users, on="user_id", how="left") \
                 .merge(restaurants, on="restaurant_id", how="left")

final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [42]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [43]:
import pandas as pd

# Load the dataset
# Ensure 'final_food_delivery_dataset.csv' is in the same directory
df = pd.read_csv('final_food_delivery_dataset.csv')

# --- SECTION 1: Numerical Questions ---
print("--- SECTION 1: Numerical Answers ---")

# 1. Total orders by users with Gold membership
gold_orders = df[df['membership'] == 'Gold']
q1 = len(gold_orders)
print(f"1. Total Gold orders: {q1}")

# 2. Total revenue from orders in Hyderabad (rounded to nearest integer)
hyd_revenue = df[df['city'] == 'Hyderabad']['total_amount'].sum()
q2 = round(hyd_revenue)
print(f"2. Total Revenue from Hyderabad: {q2}")

# 3. Distinct users who placed at least one order
q3 = df['user_id'].nunique()
print(f"3. Distinct Users: {q3}")

# 4. Average order value for Gold members (rounded to 2 decimals)
avg_gold_val = gold_orders['total_amount'].mean()
q4 = round(avg_gold_val, 2)
print(f"4. Average Order Value (Gold): {q4}")

# 5. Orders placed for restaurants with rating >= 4.5
q5 = len(df[df['rating'] >= 4.5])
print(f"5. Orders with Rating >= 4.5: {q5}")

# 6. Orders in the top revenue city among Gold members only
# Group by city for Gold members and sum revenue
gold_city_revenue = gold_orders.groupby('city')['total_amount'].sum()
# Get the city with the max revenue
top_gold_city = gold_city_revenue.idxmax()
# Count orders in that city for Gold members
q6 = len(gold_orders[gold_orders['city'] == top_gold_city])
print(f"6. Orders in Top Revenue City (Gold Members) [{top_gold_city}]: {q6}")


# --- SECTION 2: Fill-in-the-Blank Answers ---
print("\n--- SECTION 2: Fill-in-the-Blank Answers ---")
print("1. The column used to join orders.csv and users.json is: user_id")
print("2. The dataset containing cuisine and rating information is stored in: JSON format")
print(f"3. The total number of rows in the final merged dataset is: {len(df)}")
print("4. If a user has no matching record in users.json, the merged values will be: NaN")
print("5. The Pandas function used to combine datasets based on a key is: merge")
print("6. The column membership in the final dataset originates from the: users.json file")
print("7. The join key used to combine orders data with restaurant details is: restaurant_id")
print("8. The column that helps identify the type of food served by a restaurant is: cuisine")
print("9. If a user places multiple orders, their personal details appear: multiple times")

--- SECTION 1: Numerical Answers ---
1. Total Gold orders: 4987
2. Total Revenue from Hyderabad: 1889367
3. Distinct Users: 2883
4. Average Order Value (Gold): 797.15
5. Orders with Rating >= 4.5: 3374
6. Orders in Top Revenue City (Gold Members) [Chennai]: 1337

--- SECTION 2: Fill-in-the-Blank Answers ---
1. The column used to join orders.csv and users.json is: user_id
2. The dataset containing cuisine and rating information is stored in: JSON format
3. The total number of rows in the final merged dataset is: 10000
4. If a user has no matching record in users.json, the merged values will be: NaN
5. The Pandas function used to combine datasets based on a key is: merge
6. The column membership in the final dataset originates from the: users.json file
7. The join key used to combine orders data with restaurant details is: restaurant_id
8. The column that helps identify the type of food served by a restaurant is: cuisine
9. If a user places multiple orders, their personal details appear: multiple times